<section class="dashnavbar-section">
    <div class="container">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <button id="showOpen" onclick="openNav()" class="navbar-toggler" type="button"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <button id="closeNav" href="javascript:void(0)" class="closebtn" onclick="closeNav()"
                        class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <span class=""> X </span>
                    </button>
                    <div class="sidenav centerNavbar" id="mySidenav">
                        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">

                            <li class="nav-item">
                                <a class="dropdown-item" href="#"> <img src="https://cdn.imgbin.com/15/1/1/imgbin-portrait-face-richard-gadoury-realtor-comox-valley-real-estate-headshot-YB2JELCE8Dww73ZWtZeUEBjnG.jpg" width="40px"
                                        height="40px" alt=""></a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/third-component" routerLinkActive="active" class="nav-link" href="#">Association name</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>