<!-- Carousel start -->
<section class="slider-section">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="card carouselBox" style="width: 100%;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card carouselBox" style="width: 100%;">
        <img src="https://wallpapercave.com/wp/SKIhFlY.jpg" class="text-center" alt="...">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card carouselBox" style="width: 100%;">
        <img src="https://i.pinimg.com/originals/09/e3/a0/09e3a08137c077e800f7db6eb77de532.jpg" class="card-img-top"
          alt="...">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="card carouselBox" style="width: 100%;">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlX5hXJsqVIx4gKQzhM9NUlagmW98m_Scac0P-Ys8gXZcW8OqMs-rJyIimlflvCZSN_go&usqp=CAU"
          class="card-img-top" alt="...">
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<!-- carousel end -->

<!-- Association section start -->

<section class="association-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12 association">
              <img src="assets/image/photos.png" alt="">
              <h1>Association Name</h1>
              <hr>
          </div>
         <div class="col-md-12">
             <h3 class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, minima a? Accusamus non dicta sunt obcaecati. Optio, repellendus eaque eum aliquam temporibus dolor veniam necessitatibus nam voluptates quasi! Fuga, dolor?</h3>
         </div>
      </div>
  </div>
</section>

<!-- Association section end -->

<!-- Donate box start -->

<section class="chart-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 amountBox">
              <h1 class="text-center price">$39 000</h1>
              <h2 class="text-center rsdAmt">Raised Amount</h2>
             
              <!-- <progress-bar progress="55" color="#107598"></progress-bar> -->
              <div class="col-md-12">
                  <h3 class="text-center float-end mt-4">Goal: $400 000</h3>
              </div>
          </div>
          <div class="col-md-6">
              <div class="chart-wrapper">
                  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                      [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                      [plugins]="lineChartPlugins">
                  </canvas>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Donate box end -->

<!-- Timer section start -->
<div id="timer">
  <div class="number-list">
    <div class="item" data-days="">00</div>
    <div class="item" data-hours="">00</div>
    <div class="item" data-minutes="">00</div>
    <div class="item" data-seconds="">00</div>
  </div>
  <div class="unit-list">
    <div class="item">Day</div>
    <div class="item">Hour</div>
    <div class="item">Minutes</div>
    <div class="item">Seconds</div>
  </div>
</div>
<!-- Timer section end -->

<!-- Data Table start -->

<section class="dataTable">
  <div class="container">
      <div class="row centerTable">
          <div class="col-md-12">
              <div class="wrap">
                  <div class="search">
                     <input type="text" class="searchTerm" placeholder="Filter by Team">
                     <button type="submit" class="searchButton">
                      <i class="fa fa-users"></i>
                    </button>
                  </div>
               </div>
          </div>
          <div class="col-md-12 mt-3">
              <div class="wrap">
                  <div class="search">
                     <input type="text" class="searchTerm" placeholder="Looking for a Donator">
                     <button type="submit" class="searchButton">
                       <i class="fa fa-search"></i>
                    </button>
                  </div>
               </div>
          </div>

          <div style="overflow-y: scroll; height:400px;">
              <div class="tableBox">
                  <div class="row">
                   <div class="col-md-12">
                       <div class="profile">
                           <i class="fa fa-users"></i>
                           <span>Natan t</span>
                       </div>
                   </div>
                   <div class="col-md-8 headingTet">
                       <img src="assets/image/box.png" alt="" width="30px" height="30px">
                       <span>Anonymous</span>
                   </div>
                   <div class="col-md-4 rightText">
                       <h4>150$</h4>
                       <h6>11 y a 7 d</h6>
                   </div>
                  <div class="col-md-12 line">
                   <hr>
                  </div>
                   <div class="col-md-12 footerText">
                       <p>Je suis le grand-oncle de Nathan TAIEB</p>
                   </div>
                  </div>
               </div>
               <div class="tableBox">
                   <div class="row">
                    <div class="col-md-12">
                        <div class="profile">
                            <i class="fa fa-users"></i>
                            <span>Natan t</span>
                        </div>
                    </div>
                    <div class="col-md-8 headingTet">
                        <img src="assets/image/box.png" alt="" width="30px" height="30px">
                        <span>Anonymous</span>
                    </div>
                    <div class="col-md-4 rightText">
                        <h4>150$</h4>
                        <h6>11 y a 7 d</h6>
                    </div>
                   <div class="col-md-12 line">
                    <hr>
                   </div>
                    <div class="col-md-12 footerText">
                        <p>Je suis le grand-oncle de Nathan TAIEB</p>
                    </div>
                   </div>
                </div>
                <div class="tableBox">
                  <div class="row">
                   <div class="col-md-12">
                       <div class="profile">
                           <i class="fa fa-users"></i>
                           <span>Natan t</span>
                       </div>
                   </div>
                   <div class="col-md-8 headingTet">
                       <img src="assets/image/box.png" alt="" width="30px" height="30px">
                       <span>Anonymous</span>
                   </div>
                   <div class="col-md-4 rightText">
                       <h4>150$</h4>
                       <h6>11 y a 7 d</h6>
                   </div>
                  <div class="col-md-12 line">
                   <hr>
                  </div>
                   <div class="col-md-12 footerText">
                       <p>Je suis le grand-oncle de Nathan TAIEB</p>
                   </div>
                  </div>
               </div>
               <div class="tableBox">
                  <div class="row">
                   <div class="col-md-12">
                       <div class="profile">
                           <i class="fa fa-users"></i>
                           <span>Natan t</span>
                       </div>
                   </div>
                   <div class="col-md-8 headingTet">
                       <img src="assets/image/box.png" alt="" width="30px" height="30px">
                       <span>Anonymous</span>
                   </div>
                   <div class="col-md-4 rightText">
                       <h4>150$</h4>
                       <h6>11 y a 7 d</h6>
                   </div>
                  <div class="col-md-12 line">
                   <hr>
                  </div>
                   <div class="col-md-12 footerText">
                       <p>Je suis le grand-oncle de Nathan TAIEB</p>
                   </div>
                  </div>
               </div>
          </div>

      </div>
  </div>
</section>

<!-- Data Table end -->


<!-- share campaign start -->
<section class="share-campaign">
  <div class="container">
    <div class="row d">
      <div class="col-md-12">
        <h1 class="text-center txt_01">Share the campaign page !</h1>
      </div>
      <div class="col-md-12 text-center">
        <div class="site-footer">
                <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Share campaign end -->

<!-- About section start -->

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 aboutPadding">
        <h1 class="text-center">About</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum sunt magni quod delectus
          reiciendis expedita distinctio hic, ea architecto cupiditate voluptatibus quidem! Modi, nesciunt! Rem neque id
          veritatis recusandae impedit.</p>
      </div>
    </div>
  </div>
</section>

<!-- About section end -->

<!-- Bottom section start -->

<section class="bottom-section" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 donate">
        <button class="btn">Donate</button>
      </div>
      <div class="col-md-6 share">
        <button class="btn">Share</button>
      </div>
    </div>
  </div>
</section>

<!-- Bottom section end -->

<app-footer></app-footer>