<section class="button-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">I WANT</h1>
            </div>
            <div class="col-md-4 banner">
                <button class="btn">Add Donation</button>
            </div>
            <div class="col-md-4 banner">
                <button class="btn">looking for / modification of receipt</button>
            </div>
            <div class="col-md-4 banner">
                <button class="btn">looking for donator</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">campaign modification</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">new campaign</button>
            </div>
        </div>
    </div>
</section>

<!-- Excel section start -->
<section class="excel-section">
    <div class="container">
        <div class="row excel">
            <div class="col-md-12 excelHeading">
                <h1 class="text-center">Excel Export</h1>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">Donations List</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">Donators List</button>
            </div>
        </div>
    </div>
</section>
<!-- Excel section end -->

<!-- table data start -->
<section class="data-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="4" class="table-active">Last Donations</td>
                            <td colspan="4" class="table-active text-center">
                                <button class="btn btn-danger">To see all Donations</button>
                            </td>
                        </tr>
                    </thead>
                    <thead class="text-center">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Campaign</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Download recipt</th>
                            <th scope="col">To see</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row"><input type="date" class="form-control"></td>
                            <td scope="row"><button class="btn btn-info">Download</button></td>
                            <td scope="row"><button class="btn btn-success">Next</button></td>
                        </tr>
                        <tr>
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row"><input type="date" class="form-control"></td>
                            <td scope="row"><button class="btn btn-info">Download</button></td>
                            <td scope="row"><button class="btn btn-success">Next</button></td>
                        </tr>
                        <tr>
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row"><input type="date" class="form-control"></td>
                            <td scope="row"><button class="btn btn-info">Download</button></td>
                            <td scope="row"><button class="btn btn-success">Next</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- table data end -->

<app-footer></app-footer>