<!-- <app-dash-navbar></app-dash-navbar> -->
<section class="button-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">I WANT</h1>
            </div>
            <div class="col-md-4 banner">
                <button class="btn success">Add Donation</button>
            </div>
            <div class="col-md-4 banner">
                <button class="btn view">Looking for / modification of receipt</button>
            </div>
            <div class="col-md-4 banner">
                <button class="btn danger">Looking for donator</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn stdd">Campaign modification</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn yellow">New campaign</button>
            </div>
        </div>
    </div>
</section>

<!-- Excel section start -->
<section class="excel-section">
    <div class="container">
        <div class="row excel">
            <div class="col-md-12 excelHeading">
                <h1 class="text-center">Excel Export</h1>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">Donations List</button>
            </div>
            <div class="col-md-6 banner">
                <button class="btn">Donators List</button>
            </div>
        </div>
    </div>
</section>
<!-- Excel section end -->

<!-- table data start -->
<section class="data-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td colspan="4" class="table-active last">Last Donations</td>
                            <td colspan="4" class="table-active seeAll">
                                <button class="btn btn-danger">To see all Donations</button>
                            </td>
                        </tr>
                    </thead>
                    <thead class="text-center">
                        <tr class="t-head">
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Campaign</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Download recipt</th>
                            <th scope="col">To see</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr class="b-even">
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row">01-01-2021</td>
                            <td scope="row"><button class="success"> <i class="fa fa-download"></i> </button></td>
                            <td scope="row"><button class="view"><i class="fa fa-eye"></i> </button></td>
                
                        </tr>
                        <tr>
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row">01-01-2021</td>
                            <td scope="row"><button class=" success"> <i class="fa fa-download"></i> </button></td>
                            <td scope="row"><button class="view"><i class="fa fa-eye"></i> </button></td>
                        </tr>
                        <tr class="b-even">
                            <td scope="row">First Name</td>
                            <td scope="row">Last Name</td>
                            <td scope="row">30000</td>
                            <td scope="row">Campaign 1</td>
                            <td scope="row">Monthly</td>
                            <td scope="row">01-01-2021</td>
                            <td scope="row"><button class="success"> <i class="fa fa-download"></i> </button></td>
                            <td scope="row"><button class="view"><i class="fa fa-eye"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- table data end -->

<app-footer></app-footer>